<div class="container">
    <h1>Password Generator</h1>
    <label>
      Password Length:
      <input type="number" [(ngModel)]="passwordLength" min="1" max="128" />
    </label>
  
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="includeAlphabets" />
        Include Alphabets
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="includeNumbers" />
        Include Numbers
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="includeSpecialChars" />
        Include Special Characters
      </label>
    </div>
  
    <button (click)="generatePassword()">Generate</button>
  
    <div class="password-output">
      <strong>Generated Password:</strong>
      <p>{{ generatedPassword }}</p>
    </div>
  </div>
  